.vending-machine {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.make-money {
  display: flex;
  flex-direction: column;
}

.coin {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: blue;
}

.penny {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: chocolate;
}

.nickle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: silver;
}

.dime {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: silver;
}

.quarter {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: silver;
}

.light-bulb {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
}

.yellow {
  background-color: yellow;
}
